header {
  text-align: center;
  font-size: xx-large;
}

.fiveDay {
  position: relative;
  left: 490px;
}
.inline {
  display: inline-block;
}

ul li {
  list-style: none;
}

.moderate {
  background-color: yellow;
  color: white;
  padding: 5px;
}

.bad {
  background-color: #ff6961;
  color: white;
  padding: 5px;
}

.good {
  background-color: #77dd77;
  color: white;
  padding: 5px;
}
img {
  height: 25px;
  width: 25px;
}
